include README.md
include LICENSE.md
include src/fedlib/README.md
include src/fedlib/extracted/PROVENANCE.md
include src/fedlib/extracted/LICENSE.*
recursive-include src/fedlib/fedassets *.png *.svg *.jpg *.jpeg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]